
// Custom classes
// =============================================================================

.scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#17233d, .5);

    &:hover {
      background-color: rgba(#17233d, .65);
    }
  }
}

// Animates
// =============================================================================

@keyframes icon-loading {
  from { transform: rotate(0deg) }
  50%  { transform: rotate(180deg) }
  to   { transform: rotate(360deg) }
}

// Override origin styles
// =============================================================================

.ivu-btn-only-icon {
  & > .ivu-icon + span, & > span + .ivu-icon {
    margin-left: 0;
  }
}

.ivu-select-dropdown {
  &::-webkit-scrollbar {
    display: none;
  }
}

.ivu-message {
  word-break: break-all;
}

// Page and widget styles
// =============================================================================

.lar-page {
  height: 100%;
  padding: 16px;
}

.lar-control {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 16px;

  &.both {
    justify-content: space-between;
  }

  .ivu-btn {
    margin-right: 8px;
  }

  .ivu-input-wrapper {
    width: 200px;
    margin-right: 8px;
  }
}
