
// Custom classes
// =============================================================================

.scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#17233d, .5);

    &:hover {
      background-color: rgba(#17233d, .65);
    }
  }
}

// Animates
// =============================================================================

@keyframes icon-loading {
  from { transform: rotate(0deg) }
  50%  { transform: rotate(180deg) }
  to   { transform: rotate(360deg) }
}

// Override origin styles
// =============================================================================

[ripple] .ripple--container .ripple--body {
  opacity: 0.2 !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
  -webkit-animation: rippler 1000ms;
  animation: rippler 1000ms;
}

.ivu-btn-only-icon {
  & > .ivu-icon + span, & > span + .ivu-icon {
    margin-left: 0;
  }
}

.ivu-select-dropdown {
  &::-webkit-scrollbar {
    display: none;
  }
}

.ivu-message {
  word-break: break-all;
}

.ivu-dropdown.metro {
  .ivu-select-dropdown {
    padding: 8px 0;
    border-radius: 0;

    .ivu-dropdown-item {
      padding: 15px 16px;

      &:hover {
        background: #eee;
      }

      .title {
        line-height: 25px;
        color: #111;
        font-size: 14px;
      }

      .desc {
        line-height: 18px;
        color: rgba(#111, 0.8);
      }
    }
  }
}

// Page and widget styles
// =============================================================================

.lar-page {
  height: 100%;
  padding: 16px;
}

.lar-control {
  display: flex;
  align-items: center;
  height: 32px;
  margin-bottom: 16px;

  &.both {
    justify-content: space-between;
  }

  .ivu-btn {
    margin-right: 8px;
  }

  .ivu-input-wrapper {
    width: 200px;
    margin-right: 8px;
  }
}
