name: build-release

on:
  workflow_dispatch:
  push:
    tags:
      - v4.*

jobs:
  build:
    name: build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macOS-latest]
    env:
      # electron-builder 在 CI 机器上会因为 unpack ffmpeg-static 报错，参考了该修复方案：
      # https://github.com/electron-userland/electron-builder/issues/3179
      USE_HARD_LINKS: false
      # 提供给 electron-builder 上传 release assets 时使用。
      GITHUB_TOKEN: ${{ secrets.repo_contents_token }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: pnpm
      - run: pnpm install
      - run: pnpm app:build -p=always
